* {
  box-sizing: border-box;
}

header {
  height: 100px;
  /* margin-top: 30px; */
}

header nav {
  width: 960px;
  margin: auto;
}

header img {
  float: left;
  margin-top: 30px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

ul {
  width: 760px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline-block;
  margin-top: 60px;
}

a {
  text-decoration: none;
}

main {
  background-color: white;
  width: 960px;
  margin: 15px auto 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  height: 50px;
}

article {
  margin-top: 15px;
  width: 450px;
  height: 400px;
}

h3 {
  font-size: x-large;
}

article section p {
  overflow: scroll;
  height: 295px;
}

img {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid darkgray;
}

main img:last-of-type {
  width: 50%;
}

section {
  margin: 15px 0 15px 0;
}

button {
  width: 250px;
  height: 50px;
  border: 1px solid darkgray;
  background-color: lightgray;
  border-radius: 10px;
}

button:hover {
  background-color: salmon;
  font-size: 150%;
  transition: 350ms;
  cursor: pointer;
}

footer {
  height: 100px;
}
